<style>
.content_1 {
    background:url('/assets/images/bg1.jpg') no-repeat center center;
    background-size: cover;
    max-height: 600px;
    color: #fff;
}

.shadow {
    padding-top : 20px;
    background:rgba(50,51,51,0.5);
}

.ranking_box {
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.ranking_title {
    margin-left:10px;
}
.content_2 {
    padding-top: 40px;
/*    background: url('/assets/images/bg2.png') no-repeat center center;
    background-size: cover;
    max-height: 600px;*/
}
.topic_title {
    text-align: center;
}
.topic_box {
    text-align: center;
    padding: 50px;
    font-weight: 400;
    font-family: Nanum Myeongjo, cursive;
    color:#111;
/*    width: 500px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius : 10px;*/
}
.quote-left:before {
    content: '“';
    font-size: 70px;
    font-weight: 700;
    margin:auto;
}
.review_title {
    margin-left:10px;
}
.review_box {
    
}
</style>

<section class="content_1">
    <div class="shadow">
        <div style="height: 200px; padding-top: 25px;">
            <div style="background:url('/assets/images/logo.png') no-repeat center center; background-size: contain; height:150px; "></div>
        </div>
        <div class="container">
                <div class="ranking">
                    <div class="col-md-6">
                        <div class="ranking_title">
                            <h3><i class="fa fa-trophy"></i> 내 순위</h3>
                            <p>우리학교의 내 순위를 볼 수 있어요!</p>
                        </div>
                        <div class="ranking_box panel">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ranking_title">
                            <h3><i class="fa fa-trophy"></i> 우리학교 순위</h3>
                            <p>우리지역의 내 학교 순위를 볼 수 있어요!</p>
                        </div>
                        <div class="ranking_box panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content_2">
    <div class="container">
        <div class="topic">
            <div class="col-md-12">
                <div class="topic_title">
                    <h3><i class="fa fa-newspaper-o"></i> 금주의 주제</h3>
                </div>
                <div class="quote-left"></div>
                <div class="topic_box">
                    <h1 style="margin:0; font-size: 53px;">박근혜를 어떻게 생각하세요?</h1>
                </div>
            </div>
        </div>    
        <div class="topic">
            <div class="col-md-12">
                <div class="review_title">
                    <h3><i class="fa fa-pencil"></i> 우리학교 댓글</h3>
                    <p>학생 여러분의 의견을 들려주세요.</p>
                    <div style="height:300px;"></div>
                </div>
                <div class="review_box">
                    
                </div>
            </div>
        </div>
    </div>
</section>
